html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.main-nav {
  margin: 0;
  display: flex;
  padding: 0;
}
.social-insta {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.main-nav > li {
  margin: 0;
  display: inline-flex;
  padding: 10px;
  text-align: center;
}
.section-intro {
  background-image: url(./images/banner-landingpage.jpg);
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-text {
  padding-top: 30px;
  text-align: center;
  font-size: 2rem;
}
.section-middle {
  /* padding: 20px; */
  text-align: center;
}
.section-middle .col:nth-child(1) {
  background-color: #9b9b9b;
  padding: 16px 16px 30px 16px;
}
.section-middle .col:nth-child(2) {
  padding: 16px 16px 30px 16px;
}

.section-middle img {
  width: 100%;
}
.section-middle .bg-white {
  padding: 15px 25px;
  height: 100%;
}
.section-filters {
  /* display: flex; */
  padding: 20px 10px 40px 10px;
}
.section-filters img {
  max-width: 33.33%;
}
.section-filters .row {
  overflow: hidden;
  flex-wrap: nowrap;
}
.section-quote {
  padding: 25px 15px;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}
.section-quote .col {
  width: 100%;
}
.section-quote img {
  margin: 0 auto;
  width: 118px;
}
footer {
  padding: 22px;
  line-height: 18px;
}
.bg-footer {
  background-color: #9b9b9b;
}
@media screen and (min-width: 895px) {
  .section-intro {
    height: 500px;
  }
  .intro-text {
    padding-top: 200px;
  }
  .section-middle {
    padding: 20px;
    background-color: #b9b9b9;
  }
  .section-middle .col {
    width: 50%;
    padding: 0 10px;
  }
  .section-middle .col:nth-child(1) {
    background-color: transparent;
    height: 100%;
  }
  .section-middle .col > div {
    background-color: white;
    padding: 32px;
    height: 100%;
  }
  .section-filters img {
    max-width: 25%;
  }
  .section-quote .col:nth-child(1) {
    width: 75%;
  }
  .section-quote .col:nth-child(2) {
    width: 25%;
  }
  .section-quote img {
    margin: 0;
  }
}
